
*{
    box-sizing: border-box;
    padding:0;
    margin:0
}
#box1{
    background-color: blue;
    width: 200px;
    height: 200px;
    border: 10px black solid;
    overflow:auto;

}

#box2{
    background-color: red;
    width: 200px;
    height: 200px;
    padding-left:20px;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
}
