
.flex{
    display:flex
}
.left{
    background-color: green;
    height: 100vh;
    width: 50%;
}
.right{
     background-color: rgb(245, 85, 4);
    height: 100vh;
    width: 50%;
}

@media (max-width:600px) {
    .left,.right{
        width: 100%;
        height: 50vh;
    }
    .flex{
        flex-direction: column;
    }

    
}