header{
    width: 50%;
    background-color: green;
    height: 90px;
    position: fixed;
    right: 30px;
    z-index: 31;
bottom: 20px;}

#header2{
     width: 50%;
    background-color: rgb(128, 0, 0);
    height: 90px;
    position: fixed;
    right: 90px;
    z-index: 30;

}

.box3{
    height: 400px;
    width: 400px;
    background-color: blue;
    position: relative;
}

.box4{
    height: 50%;
    width: 50%;
    background-color: red;
    position: absolute;
    top: 100px;
    left: 100px;

}