body{
            background-color:green;
        }
        #CDE{
            background-color: aqua;
            font-size: 24PX;
            font-style: italic;
        
        }
        a{
            background-color: red;
            color: white;
            text-decoration: none;
        }