*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(195, 184, 184, 0.885);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.accordian{
    width:50%;

}

.upper .btn{
    width:100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 2rem;
    border:2px solid red;
    height: 30%;
    cursor: pointer;
    padding:20px;
    border-radius: 20px;

}
.upper .btn:hover{
    background-color: rgba(243, 23, 23, 0.553);
}
.lower{
    background-color: rgba(0, 0, 0, 0.632);
    color: white;
    padding:20px;
    width:100%;
    border-radius: 20px;
    display: none;
}

.accordian .lower.show {
  display: block;
}